body {
    background-color: white;

}



h1 {
    text-align: center;
    color: hsl black
}

.tlacitko2 {
    display: block;
    border: 1px black solid;
    background-color: gold;
    color: black;
    margin: 10px;
    padding: 10px;

    width: max-content;

}



.nav {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: black;
}

.karta {
    width: 300px;
}

.tlacitko3 {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.tlacitko3 {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    gap: 50px;
    border-bottom: 3px solid;
    justify-content: space-between;
}

.header img {
    width: 150px;
}

.tlacitko:hover {
    cursor: pointer;
    transition: 300ms;
}
.tlacitko {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
    display: flex;
    justify-content: center;
    background-image: url("pokeball2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
display: block;
    border: 1px black solid;
    background-color: gold;
    color: black;
    margin: 10px;
    


    width: 200px;
}
.tlacitko p{
background-color: gold;
padding: 20px;
margin: 0px;

}
.tlacitko p:hover{
opacity: 0;

}
.play :hover {}

.vlocka {
    position: absolute;
    width: 100px;
    top: -200px;
    animation: vlocka 10s infinite linear;





}

@keyframes vlocka {

    0% {
        top: -200px;
        transform:rotate(0deg);
    }
    100%{
        top: 100vh;
        transform: rotate(300deg);

       
    }

}
#obrazek.active {
    animation: toceni 1s;
}

@keyframes toceni {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
.obrazek-kontejner {
   display: flex;
   justify-content: center;
   background-image: url('pika\ pozadi.jpg');
padding: 10px;
}

.stin-karty{
background:transparent;

}

footer  {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-top: solid black 2px;
}
footer img{
    width: 40px;
}