@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    background-color: white;
    margin: 0px;
    font-family: "Funnel Sans";

}



h1 {
    text-align: center;
    color: hsl black
}

.tlacitko2 {
    display: block;
    border: 1px black solid;
    background-color: gold;
    color: black;
    margin: 10px;
    padding: 10px;

    width: max-content;

}



.nav {
    display: flex;
    justify-content: space-between;
}



.karta {
    width: 300px;
}

.tlacitko3 {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.tlacitko3 {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    gap: 50px;
    border-bottom: 3px solid;
    justify-content: space-between;
}

.header img {
    width: 150px;
}

.tlacitko:hover {
    cursor: pointer;
    transition: 300ms;
}
.tlacitko {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
    display: flex;
    justify-content: center;
    background-image: url("pokeball2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
display: block;
    border: 1px black solid;
    background-color: gold;
    color: black;
    margin: 10px;
    


    width: 200px;
}
.tlacitko p{
background-color: gold;
padding: 20px;
margin: 0px;

}
.tlacitko p:hover{
opacity: 0;

}
.play :hover {}

.vlocka {
    position: absolute;
    width: 100px;
    top: -200px;
    animation: vlocka 10s infinite linear;





}

@keyframes vlocka {

    0% {
        top: -200px;
        transform:rotate(0deg);
    }
    100%{
        top: 100vh;
        transform: rotate(300deg);

       
    }

}
#obrazek.active {
    animation: toceni 1s;
}

@keyframes toceni {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
.obrazek-kontejner {
   display: flex;
   justify-content: end;
   background: url('pozadi67.jpg') black;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
padding: 100px;
}

.stin-karty{
background:transparent;

}

footer  {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-top: solid black 2px;
}
footer img{
    width: 40px;
}
header {
    display:flex ;
    gap: 40px;
    justify-content: space-between;
    padding-inline: 20px;
    position: absolute;
    width: 100%;
    color: white;
    box-sizing: border-box;
    padding-top: 10px;
    align-items: center;
    background: rgba(0, 0, 0);
    text-shadow: white 0px 0px 10px;

}
header h1 {
    margin: 0px;
   



}
    
.subsection {
    display: none;
    flex-direction: column;
    background-color: rgb(43, 42, 42);
    padding: 10px;


}
.subsection a {
    color: gold;
    font-size: 20px;
}
.section:hover .subsection {
    display: flex;
    position: absolute;


}

.section h2{
    margin: 0;
}
body.pozadi{
    background-image: url();
    background-size: contain;
}