body {background-color:gray  ;
   
}

 .tlacitko {
    display:block;
        border:1px black solid ;
        background-color: gold;
        color: black;
        margin: 10px;
        padding: 10px;
        
        width: max-content;
    }
.tlacitko:hover {
    border: 10px brown;
    cursor: pointer;
    transition: 300ms;
}
h1{text-align: center;
color: blue;}

.tlacitko2 {
    display: block;
    border: 1px black solid  ;
    background-color: gold;
    color: black;
    margin: 10px;
    padding: 10px;

    width: max-content;

}
.tlacitko:hover {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}

.nav{
    display: flex;
}
h2{
    color: blue;
}
.karta{
    width: 300px;
}
.tlacitko3 {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}

.nav{
    display: flex;
}
.tlacitko3{
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}