body {
    background-color: white;

}

.tlacitko {
    display: block;
    border: 1px black solid;
    background-color: gold;
    color: black;
    margin: 10px;
    padding: 10px;


    width: 200px;
}

.tlacitko:hover {
    border: 10px brown;
    cursor: pointer;
    transition: 300ms;
}

h1 {
    text-align: center;
    color: hsl black
}

.tlacitko2 {
    display: block;
    border: 1px black solid;
    background-color: gold;
    color: black;
    margin: 10px;
    padding: 10px;

    width: max-content;

}

.tlacitko:hover {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}

.nav {
    display: flex;
}

h2 {
    color: black;
}

.karta {
    width: 300px;
}

.tlacitko3 {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.tlacitko3 {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    gap: 50px;
    border-bottom: 3px solid;
    justify-content: space-between;
}
.header img{
    width: 150px;
}
.tlacitko {
    border: 10px;
    cursor: pointer;
    transition: 300ms;
    display: flex ;
    justify-content: center;
}